:root {
    --color-header: #212336;
    --color-white: #fff;
    --color-black: #000;
    --width-85: 85%;
}

@media only screen and (max-width: 1200px) {
    nav ul li {
        padding: 0 20px;
    }

    .header-copy h1 {
        font-size: 6.5rem;
    }

    .header-copy .header-ket {
        width: 95%;
    }
    .merk-wrapper img{
        width: 125px;
    }
}


@media only screen and (max-width: 978px){
    .nav-list{
        position: fixed;
        width: 40%;
        right: 150%;
        bottom: 0;
        top: 0;
    }
}

@media only screen and (max-width: 707px) {

    
}

@media only screen and (max-width: 429px) {
    .header-content{
        width: 85%;
        padding: 100px 0 100px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .header-copy{
        width: 100%;   
    }
    .header-copy h1{
        font-size: 5rem;
    }

    .line-since{
        width: 8%;
    }
    .toggle{
        display: block;
        cursor: pointer;
    }
    .nav-btn-wrapper{
        display: none;
    }
    .nav-list{
        position: fixed;
        width: 60%;
        right: 100%;
        bottom: 0;
        top: 0;
        transition: 1s ease;
        display: flex;
        flex-direction: column;
    }
    .showing{
        position: fixed;
        right: 40%;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 0;
        z-index: 999;
        transition: 1s ease;
    }
    .nav-item{
        padding: 40px 0;
        font-size: 1rem;
        color: #fff;
        text-align: center;
        cursor: pointer;
    }
    /* ---- start merk--- */
    .merk {
        padding-bottom: 30px;
    }

    .merk-wrapper {
        justify-content: center;
        flex-wrap: wrap;
    }
    .merk-wrapper img{
        margin: 0 auto 20px;
    }

    /* ---- end merk--- */

    /* ----start question-bikey---- */
    .question-wrapper {
        flex-direction: column;
    }

    .question-bikey {
        width: 100%;
        padding-bottom: 80px;
    }

    .reason-bikey {
        width: 100%;
    }

    /* ----end question-bikey---- */

    /*----start testimoni---- */
    .testimoni-copy .quote-copy {
        font-size: 16px;
    }

    .testimoni-skill {
        width: var(--width-85);
    }
    .testimoni-wrapper h2{
        font-size: 1.5rem;
    } 
    /*----end testimoni---- */
}